body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #4a4747;
}

.container {
    text-align: center;
}

#myButton {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #8b908b;
    color: white;
    /* border-radius: 5px; */
    margin-bottom: 20px;
}

button {
    /* padding: 5px 5px; */
    font-size: 15px;
    cursor: pointer;
    border: none;
    background-color: #b7bab7;
    color: white;
    /* border-radius: 5px; */
}

/* button:hover {
    background-color: #4d584e;
} */

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
    gap: 2px;
}
