body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #4c4c4c;
}

.container {
    text-align: center;
}

#myButton {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #b7bab7;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f; 
    /* border-radius: 5px; */
    margin-bottom: 20px;
}

#myButton:active {
    background-color: #a0a0a0;
    color: white;
    border-top: 2px solid #6b6b6b;   
    border-left: 2px solid #6b6b6b; 
    border-bottom: 2px solid #c1c1c1;  
    border-right: 2px solid #c1c1c1;   
}

button {
    /* padding: 5px 5px; */
    font-size: 15px;
    cursor: pointer;
    background-color: #b7bab7;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f;  
    /*border-radius: 5px; */
}

/* button:hover {
    background-color: #4d584e;
} */

button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5); /* Shadow */
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
    gap: 0px;
}
