html, body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #4c4c4c;
}

.container {
    /* align-self: flex-end; */
    text-align: center;
    background-color: rgb(14, 13, 13);
}

#myButton {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #b7bab7;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f; 
    /* border-radius: 5px; */
    margin-bottom: 20px;

    background-color: #575757;
    border-top: 2px solid #313131;
    border-left: 2px solid #313131;
    border-bottom: 2px solid #e7e0df;
    border-right: 2px solid #e7e0df;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* #myButton:active {
    background-color: #a0a0a0;
    color: white;
    border-top: 2px solid #6b6b6b;   
    border-left: 2px solid #6b6b6b; 
    border-bottom: 2px solid #c1c1c1;  
    border-right: 2px solid #c1c1c1;   
} */

.button-row {
    margin-top: 70px;
    display: flex;
    text-align: center;
    /* justify-content: flex-start; */
    /* gap: 10px; */
}

.button-row button:nth-child(4) {
  margin-left: 140px; 
}

.disabled-button {
    background-color: #cccccc !important;
    color: #666666 !important;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    border-bottom: 2px solid #999999;
    border-right: 2px solid #999999;
    cursor: default !important;
    pointer-events: none;
    opacity: 0.6;
}


#ButtonBeg {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f; 
    /* border-radius: 5px; */
    margin-bottom: 20px;
}
#ButtonInt {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: orange;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f; 
    /* border-radius: 5px; */
    margin-bottom: 20px;
}
#ButtonExp {
    padding: 5px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f; 
    /* border-radius: 5px; */
    margin-bottom: 20px;
}

/* #ButtonBeg:active, */
/* #ButtonInt:active, */
#ButtonExp:active {
    background-color: #a0a0a0;
    color: white;
    border-top: 2px solid #6b6b6b;   
    border-left: 2px solid #6b6b6b; 
    border-bottom: 2px solid #c1c1c1;  
    border-right: 2px solid #c1c1c1;   
}

button {
    /* padding: 5px 5px; */
    font-size: 15px;
    cursor: pointer;
    background-color: #b7bab7;
    color: white;
    border-top: 2px solid #e6ebe6;    
    border-left: 2px solid #e6ebe6; 
    border-bottom: 2px solid #7f7f7f;   
    border-right: 2px solid #7f7f7f;  
    /*border-radius: 5px; */
}

/* button:hover {
    background-color: #4d584e;
} */

button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5); /* Shadow */
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#game-board-container {
  position: relative;
  display: flex;
  width: 900px; 
  height: 500px;
  justify-content: center;
  align-items: center;

  display: grid;
  /* place-items: center; */ 
  /* background-color: white; */
}

.game-board {
    position: absolute;
    top: 0;
    display: grid;    
}

.game-board.active {
    pointer-events: auto;
    opacity: 1;
}

#game-board-beginner, 
#game-board-intermediate, 
#game-board-expert {
    grid-column: 4;
  /* grid-row: 1; */
}

#game-board-beginner {
    /* position:absolute; */
    grid-template-columns: repeat(8, 30px);
    grid-template-rows: repeat(8, 30px);
}

#game-board-intermediate {
    /* position:absolute; */
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
}

#game-board-expert {
    /* position:absolute; */
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
}

